[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.7"
beautifulsoup4 = "==4.9.1"
cssselect = "==1.1.0"
lxml = "==4.5.2"
markdown2 = "==2.3.9"
pyquery = "==1.4.1"
pytz = "==2020.1"
soupsieve = "==2.0.1"
sqlparse = "==0.3.1"
Django = "==3.0.7"
Pillow = "==7.1.0"
readtime = "==1.1.1"
django-debug-toolbar = "==3.1.1"
django-heroku = "==0.3.1"
gunicorn = "==20.0.4"

[requires]
python_version = "3.7"
