.container-acc{
  display: flex;
  border: 1px solid lightgrey;
  background: $container-color;
  border-radius: $box-border-radius;
  box-shadow: 0.05rem 0.06rem 0.2rem 0 rgba(0, 0, 0, 0.6);
  padding: 1em;
}

.img-col{
  // border: 1px solid red;
  @include default-flex-styles;
	flex-direction: column;
  width: 25vw;
  padding: 0.5em;
  
  &__svg-container{
    // border: 1px solid green;
    width: 100%;
    height: 65%;
    text-align: center;
  }

  &__svg{
    // border: 1px solid black;
    height: 100%;
    width: 80%;
  }

  &__message{
    // border: 1px solid black;
    text-align: center;
    width: 100%;
    min-height: 15%;
    font-size: 105%;

    a{
      font-weight: 500;
      color: $primary-color;
    }
  }
}

.fm-col{
  // border: 1px solid red;
  width: 27vw;

  &__header{
    text-align: center;
    padding: 0.5em 0;
    margin-bottom: 0.75em;
    letter-spacing: 0.02em;
  }

  &__form-container{
    padding: 1em 0;
  }
}

.login-error{
  margin-bottom: 0.5em;
	text-align: center;
	color: firebrick;
	font-size: 105%;
  font-weight: 500;
}

.form-row{
  // border: 1px solid grey;
  padding: 0.6em;

  label{
    font-weight: 500;
    font-size: 105%;
    text-transform: capitalize;
    letter-spacing: 0.01em;
  }

  p{
    font-size: 103%;
    padding: 0.4em 0;

    a{
      font-weight: 500;
      color: $primary-color;
    }
  }

  ul.errorlist{
    list-style: none;
    color: firebrick;
    padding-top: 0.1em;
    font-weight: 500;
    font-size: 103%;
  }
}

.input-container{
  display: flex;
  align-items: center;
	border-radius: $box-border-radius;
  height: $box-height;
  background: #e6e6e6;
  padding: 0 0.2em;
  margin-top: 0.2em;
  
  &:focus-within{
    box-shadow: $input-box-shadow;
  }

  .fa-user{
    padding-bottom: 1px;
  }

  > i{
    font-size: 104%;
    width: 11%;    
    // border: 1px solid red;
    text-align: center;
  }

  i:not(.fa-lock){
    color: $primary-color;
  }
}

.password-toggler{
  // border: 1px solid red;
  position: relative;
	width: 10%;
  cursor: pointer;
  @include default-flex-styles;
  
  i{
    position: absolute;
    font-size: 104%;
    transition: all 0.3s ease-in;
  }

  .fa-eye-slash{
    opacity: 1;
    transform: translateY(0);
  }

  .fa-eye{
    opacity: 0;
    transform: translateY(40%);
  }

  .eye-slash-hide{
    opacity: 0;
    transform: translateY(-40%);
  }

  .eye-show{
    opacity: 1;
    transform: translateY(0);
  }
}

.text-input-acc{
  border: 0;
  // border: 1px solid black;
  font-size: 1rem;
  background: inherit;

  &:focus{
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: color 3600s ease-out, background 3600s ease-out;
  }
}

.standard-input{
  width: 88.5%;
}

.password-input{
  width: 78.5%;
}

.fa-lock{
	color: transparent;
	-webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: $primary-color;
}

.submit-button{
  border: 1px solid transparent;
  width: 100%;
  border-radius: $box-border-radius;
  letter-spacing: 0.015em; 
  font-size: 1rem;
	height: $box-height;
  background: $primary-color;
	color: $secondary-color;
	box-shadow: 0.05rem 0.05rem 0.1rem 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;

  &:focus{
    outline: none;
    box-shadow: 0 0 0 0.1rem rgb(0, 0, 0);
  }
}

@import '_acc-responsive'
