@media only screen and (max-width: 1024px){
  .img-col{
    width: 32vw;
  }
  .fm-col{
    width: 36vw;
  }
}

@media only screen and (max-width: 768px){
  .container-acc{
    font-size: 98%;
    letter-spacing: 0.015em;
  }
  .img-col{
    width: 40vw;

    &__message{
      width: 75%;
      padding-left: 0.75em;
    }
  }
  .fm-col{
    width: 45vw;
  }
  .text-input-acc,
  .submit-button{
    font-size: inherit;
    letter-spacing: inherit;
  }
}

@media only screen and (max-width: 600px){
  .container-acc{
    flex-direction: column;
    width: 70vw;
    padding: 1.25em 1.5%;
  }
  .img-col{
    order: 2;
    width: 100%;

    &__svg-container{
      display: none;
    }

    &__message{
      // border: 1px solid black;
      width: inherit;
      padding: 0.5em;
      font-size: 102%;
    }
  }
  .fm-col{
    order: 1;
    width: 100%;

    &__form-container{
      padding: 0.5em 0;
    }
  }
}

@media only screen and (max-width: 480px){
  .container-acc{
    width: 90vw;
  }
  .input-container > i{
    width: 13%;
  }
  .standard-input{
    width: 86.5%;
  }
  .password-input{
    width: 76.5%;
  }
}

@media only screen and (min-width: 1600px){
  .img-col{
    width: 22vw;
  }
  .fm-col{
    width: 24vw;
  }
}

@media only screen and (min-width: 1920px){
  .img-col{
    width: 19vw;
  }
  .fm-col{
    width: 20vw;
  }
}