{% extends "blog/base.html" %}

{% load static %}

{% block title %}Login Page{% endblock title %}

{% block styles %}
	<link href="{% static 'accounts/css/styles.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="message message-{{ message.tags}}">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<div class="container container-login">
		<div class="col-2">
			<div class="col-2__heading">
				<h2>Login</h2>
			</div>
			{% if form.errors %}
				<div class="login-error">
					<p>Invalid Username or Password.</p>
				</div>
			{% endif %}
			<div class="form-container">
				<form method="POST">
					{% csrf_token %}
					{% for field in form %}
						<div class="form-row">
							{{ field.label_tag }}
							<div class="input-container" tab-index="0">
								{% if 'password' in field.name %}
									<i class="fa fa-lock"></i>
									{{ field }}
									<a class="password-toggler" id="toggler-{{ field.name }}">
										<i class="far fa-eye-slash" id="toggler-icon-{{ field.name }}"></i>
									</a>
								{% else %}
									<i class="far fa-user"></i>
									{{ field }}
								{% endif %}
							</div>
						</div>
					{% endfor %}
					<div class="form-row">
						<p>
							<a href="#">Forgot Password?</a>
						</p>
					</div>
					<div class="form-row">
						<button type="submit" class="submit-button login-button">Login</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-1 col-1-login">			
			<div class="image-container">
				<img src="{% static 'accounts/img/login.svg' %}" alt="login svg" class="col-1__svg login-svg">
			</div>
			<div class="col-1__message register-message">
				<p>
					Don't Have an Account?  
					<a href="{% url 'accounts:signup' %}">Signup here</a>
				</p>
			</div>
		</div>
		<!-- <div class="form-container">
			<div class="form-top">
				<h2>Login</h2>
			</div>
			<form method="POST">
				{% csrf_token %}
				{% for field in form %}
					<div class="form-row">
						{{ field.errors }}
						{{ field.label_tag }}
						<div class="input-container" tab-index="0">
							{% if 'password' in field.name %}
								<i class="fa fa-lock"></i>
								{{ field }}
								<a class="password-toggler" id="toggler-{{ field.name }}">
									<i class="far fa-eye-slash" id="toggler-icon-{{ field.name }}"></i>
								</a>
							{% else %}
								<i class="far fa-user"></i>
								{{ field }}
							{% endif %}
						</div>
					</div>
				{% endfor %}
				<div class="form-row">
					<button type="submit" class="submit-button">Login</button>
				</div>
			</form>
			<div class="form-bottom">
				<p>
					Don't Have an Account? <a href="{% url 'accounts:login' %}">Signup Now!</a>
				</p>
			</div>
		</div> -->
	</div>
{% endblock content %}

{% block script %}
	<script src="{% static 'accounts/js/main.js' %}"></script>
{% endblock script %}
