{% extends "blog/base.html" %}

{% load static %}

{% block title %} Login Page {% endblock title %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="message message-{{ message.tags}}">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<div class="container-acc">
		<div class="fm-col">
			<div class="fm-col__header">
				<h2>Login</h2>
			</div>
			{% if form.errors %}
			<div class="login-error">
				<p>Invalid Username or Password.</p>
			</div>
			{% endif %}
			<div class="fm-col__form-container">
				<form method="POST">
					{% csrf_token %}
					<div class="form-row">
						{{ form.username.label_tag }}
						<div class="input-container">
							<i class="far fa-user"></i>
							{{ form.username }}
						</div>
					</div>
					<div class="form-row">
						{{ form.password.label_tag }}
						<div class="input-container">
							<i class="fas fa-lock"></i>
							{{ form.password }}
							<a class="password-toggler">
								<i class="far fa-eye-slash"></i>
								<i class="far fa-eye"></i>
							</a>
						</div>
						<p>
							<a href="#">Forgot Password?</a>
						</p>
					</div>
					<div class="form-row">
						<button type="submit" class="submit-button ">Login</button>
					</div>
				</form>
			</div>
		</div>
		<div class="img-col col-login">			
			<div class="img-col__svg-container">
				<img src="{% static 'accounts/img/login.svg' %}" alt="login svg" class="img-col__svg">
			</div>
			<div class="img-col__message">
				<p>
					Don't Have an Account? <a href="{% url 'accounts:signup' %}">Signup here</a>
				</p>
			</div>
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script src="{% static 'accounts/js/main.js' %}"></script>
{% endblock script %}
