{% extends "blog/base.html" %}

{% load static %}

{% block title %} Password Reset Confirm {% endblock title %}

{% block content %}
  {% if validlink %}
  <div class="container-acc">
    <div class="fm-col">
      <div class="fm-col__header">
        <h2>Reset Your Password</h2>
      </div>
      <div class="fm-col_form-container">
        <form method="POST">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-row">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="input-container">
              <i class="fas fa-lock"></i>
              <input type="password" name="{{ field.name }}" autocomplete="new-password" class="text-input-acc password-input"
                id="{{ field.id_for_label }}" required />
              <a class="password-toggler">
                <i class="far fa-eye-slash"></i>
                <i class="far fa-eye"></i>
              </a>
            </div>
            {{ field.errors }}
          </div>
          {% endfor %}
          <div class="form-row">
            <button type="submit" class="submit-button">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <div class="message message-info">
    The password reset link is invalid, possibly because it has already been used. Please request a new password reset
  </div>
  {% endif %}
{% endblock content %}

{% block script %}
<script src="{% static 'accounts/js/main.js' %}"></script>
{% endblock script %}