{% extends 'blog/base.html' %}

{% load static %}

{% block title %}Profile{% endblock title %}

{% block styles %}
  <link href="{% static 'accounts/css/styles.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="message message-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <div class="container container-profile">
    <div class="row">
      <div class="profile-img-container">
        <img src="{{ request.user.profile_image.url }}" alt="profile image" />
      </div>
      <div class="profile-info">
        <p class="username">{{ request.user.username }}</p>
        <p class="email">{{ request.user.email }}</p>
      </div>
    </div>
    <div class="form-container">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
      </form>
    </div>
  </div>
{% endblock content %}