{% extends 'blog/base.html' %}

{% load static %}

{% block title %} Profile {% endblock title %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="message message-{{ message.tags }}">{{ message }}</div>
      <div class="dummy-space"></div>
    {% endfor %}
  {% endif %}
  <div class="container-acc pfl-col">
    <div class="pfl-col__header">
      <div class="pfl-col__img-container">
        <img src="{{ request.user.profile_image.url }}" alt="profile image" class="pfl-col__img" />
      </div>
      <div class="user-info">
        <h2 class="username">{{ request.user.username }}</h2>
        <p class="email">{{ request.user.email }}</p>
      </div>
    </div>
    <div class="pfl-col__info">
      <div class="form-row">
        <h2>Profile Info</h2>
      </div>
      <hr />
      <div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-row pfl-col__row">
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}
          <div class="form-row">
            <button type="submit" class="submit-button">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}