{% extends "blog/base.html" %}

{% load static %}

{% block title %}SignUp Page{% endblock title %}

{% block styles %}
	<link href="{% static 'accounts/css/styles.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
	<div class="container">
		<div class="form-header">
			<h2>Welcome!</h2>
			<p>Create an Account to Continue!</p>
		</div>
		<div class="form-container">
			<form method="POST">
				{% csrf_token %}
				<!-- {{ form.as_p }} -->
				{% for field in form %}
					{{ field.errors }}
					<div>
						{{ field.label_tag }}
						{{ field }}
					</div>
				{% endfor %}
				<button type="submit">SignUp</button>
			</form>
		</div>
	</div>
{% endblock content %}