{% extends "blog/base.html" %}

{% load static %}

{% block title %}SignUp Page{% endblock title %}

{% block styles %}
	<link href="{% static 'accounts/css/styles.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
	<div class="container">
<!-- 		<div class="form-container">
			<form method="POST">
				{% csrf_token %}
				<fieldset>
					<legend class="form-legend">Create An Account</legend>
					{% for field in form %}
						{{ field.errors }}
						<div>
							{{ field.label_tag }}
							{{ field }}
						</div>
				{% endfor %}
				</fieldset>
				<button type="submit">SignUp</button>
			</form>
		</div> -->
		<div class="form-container">
			<div class="form-header">
				<h2>Create Account</h2>
			</div>
			<form>
				{% csrf_token %}
				{% for field in form %}
					{{ field.errors }}
					<div class="form-row">
						{{ field.label_tag }}
<!-- 						<div class="input-container">
							<i class="{% if 'password' in field.name %}fa fa-lock{% else %}{% cycle 'far fa-user' 'far fa-envelope' %}{% endif %}">
							</i>
							{{ field }}
							{% if 'password' in field.name %}
								<a class="password-toggler">
									<i class="far fa-eye" id=""></i>
								</a>
							{% endif %}
						</div> -->
						<div class="input-container">
							{% if 'password' in field.name %}
								<i class="fa fa-lock"></i>
								{{ field }}
								<a class="password-toggler" id="toggler-{{ field.name }}">
									<i class="far fa-eye-slash" id="toggler-icon-{{ field.name }}"></i>
								</a>
							{% else %}
								<i class="{% cycle 'far fa-user' 'far fa-envelope' %}"></i>
								{{ field }}
							{% endif %}
						</div>
					</div>
				{% endfor %}
				<div class="form-row">
					<button type="submit" class="submit-button">Sign Up</button>
				</div>
			</form>

		</div>
	</div>
{% endblock content %}

{% block script %}
	<script src="{% static 'accounts/js/main.js' %}"></script>
{% endblock script %}