{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% block title %}{% endblock title %}</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
		<link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
		{% block styles %}
		{% endblock styles %}
	</head>
	<body>
		<div class="page-wrapper">
			<header class="page-header">
				<h1><a href="#">Blog App</a></h1>
				<nav class="nav-bar">
					<ul>
						{% if user.is_authenticated %}
							<li>
								<a href="#">Profile</a>
							</li>
							<li>
								<a href="{% url 'accounts:logout' %}">Logout</a>
							</li>
						{% else %}
							<li>
								<a href="{% url 'accounts:login' %}">Login</a>
							</li>
							<li>
								<a href="{% url 'accounts:signup' %}">SignUp</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</header>
			<main role="main" class="main-content">
				{% block content %}
				{% endblock content %}
			</main>
			<footer class="page-footer">
				<p>&copy; {% now "Y" %} Blog App</p>
			</footer>
		</div>
		
		{% block script %}
		{% endblock script %}
	</body>
</html>
