{% extends "blog/base.html" %}

{% load static %}

{% block title %}Post {% if action == 'create' %} Create {% else %} Update {% endif %}{% endblock title %}

{% block content %}
  <div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">
        {% if action == 'create' %} Draft this Post {% else %} Update Your Post {% endif %}
      </button>
    </form>
  </div>
{% endblock content %}

{% block script %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="{% static 'blog/js/tinymceConfig.js' %}"></script>
{% endblock script %}