{% extends "blog/base.html" %}

{% load static %}

{% block title %}Post Create/Update{% endblock title %}

{% block content %}
  <div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <a href="{% url 'blog:post_draft' %}">Draft</a>
      <button type="submit">Publish</button>
    </form>
  </div>
{% endblock content %}

{% block script %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="{% static 'blog/js/tinymceConfig.js' %}"></script>
{% endblock script %}