{% extends "blog/base.html" %}

{% load static %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
<!-- dont forget to change dislike, remove the inline style style and change it in the sass -->
<div class="post-detail">
  <div class="post-detail__title">
    <h1>{{ object.title }}</h1>
    <a href="{% url 'blog:category_posts' category=object.category %}">{{ object.category }}</a> 
  </div>
  <div class="post-item__author">
    <div class="author-img-container">
      <img src="{{ object.author.profile.image.url }}" alt="{{ object.author }}" class="author-img" />
    </div>
    <div class="author-info">
      <h4>
        <a href="{% url 'userprofiles:profile' username=object.author.username %}">{{ object.author }}</a>
      </h4>
      <small>Published on {{ object.date_published.date }}</small>
      <small><i class="far fa-clock"></i> {{ object.read_time }}</small>
    </div>
  </div>
  {% if request.user == object.author %}
  <div>
    <div>
      <a href="{% url 'blog:post_update' slug=object.slug pk=object.pk %}">Update Post</a>
    </div>
    <div>
      <form method="POST" action="{% url 'blog:post_delete' slug=object.slug pk=object.pk %}">
        {% csrf_token %}
        <button type="submit">Delete Post</button>
      </form>
    </div>
  </div>
  {% endif %}
  <div class="post-detail__thumbnail">
    <img src="{{ object.thumbnail.url }}" alt="Image for {{ object.title }} Post" />
  </div>
  <div class="post-detail__content">
    {{ object.content | safe }}
  </div>
  <div>
    <p>
      <a href="{% url 'blog:post_like_toggle' slug=object.slug pk=object.pk %}" 
        class="like-toggler {% if request.user in object.likes.all %}selected{% endif %}">
        <i class="fas fa-thumbs-up"></i>
        <span>{{ object.get_num_likes }}</span>
      </a>
      <a href="{% url 'blog:post_dislike_toggle' slug=object.slug pk=object.pk %}" 
        class="dislike-toggler {% if request.user in object.dislikes.all %}selected{% endif %}">
        <i class="fas fa-thumbs-up" style="transform: rotate(180deg);"></i>
        <span>{{ object.get_num_dislikes }}</span>
      </a>
    </p>
  </div>

  <div>
    <form method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Save Comment</button>
    </form>
  </div>
  <div id="comments">
    {% for comment in object.comments.all %}
      <div>
        <h4>{{ comment.author }}</h4>
        <p>{{ comment.content }}</p>
        <p>      
          <a href="{% url 'blog:comment_like_toggle' slug=object.slug pk=object.pk comment_pk=comment.pk %}" 
            class="like-toggler {% if request.user in comment.likes.all %}selected{% endif %}">
            <i class="fas fa-thumbs-up"></i>
            <span>{{ comment.get_num_likes }}</span>
          </a>
          <a href="{% url 'blog:comment_dislike_toggle' slug=object.slug pk=object.pk comment_pk=comment.pk %}" 
            class="dislike-toggler {% if request.user in comment.dislikes.all %}selected{% endif %}">
            <i class="fas fa-thumbs-up" style="transform: rotate(180deg);"></i>
             <span>{{ comment.get_num_dislikes }}</span>
          </a>
        </p>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock content %}

{% block script %}
  <script src="{% static 'blog/js/main.js' %}"></script>
{% endblock script %}