{% extends "blog/base.html" %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
<div class="post-detail">
  <div class="post-detail__title">
    <h1>{{ object.title }}</h1>
  </div>
  <div class="post-item__author">
    <div class="author-img-container">
      <img src="{{ object.author.profile_image.url }}" alt="{{ object.author }}" class="author-img" />
    </div>
    <div class="author-info">
      <h4><a href="{% url 'blog:user_posts' username=object.author %}">{{ object.author }}</a></h4>
      <small>Published on <span>{{ object.date_created }}</span></small>
    </div>
  </div>
  <div class="post-detail__thumbnail">
    <img src="{{ object.thumbnail.url }}" alt="{{ instance.title }} image" />
  </div>
  <div class="post-detail__content">
    {{ object.content | safe }}
  </div>
  <div>
    <p>Likes: {{ object.num_likes }} || Dislikes: {{ object.num_dislikes }}</p>
  </div>
  <div>
    <form method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Save Comment</button>
    </form>
  </div>
  <div>
    {% for comment in object.comments.all %}
      <div>
        <h4>{{ comment.author }}</h4>
        <p>{{ comment.content }}</p>
        <p>Likes: {{ comment.num_likes }} || Dislikes: {{ comment.num_dislikes }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}