{% extends "blog/base.html" %}

{% load static %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
<div class="post-detail">
  <div class="post-detail__title">
    <h1>{{ object.title }}</h1>
    <a href="#"><i class="fas fa-tags"></i> {{ object.category }}</a> 
  </div>
  <div class="post-item__author">
    <div class="author-img-container">
      <img src="{{ object.author.profile.image.url }}" alt="{{ object.author }}" class="author-img" />
    </div>
    <div class="author-info">
      <h4>
        <a href="{% url 'blog:user_posts' user=object.author.url_name %}">{{ object.author }}</a>
      </h4>
      <small>Published on {{ object.date_published }}</small>
      <small><i class="far fa-clock"></i> {{ object.read_time }}</small>
    </div>
  </div>
  {% if request.user == object.author %}
  <div>
    <div>
      <a href="{% url 'blog:post_update' pk=object.pk slug=object.slug %}">Update</a>
    </div>
    <div>
      <a href="#">Delete</a>
    </div>
  </div>
{% endif %}
  <div class="post-detail__thumbnail">
    <img src="{{ object.thumbnail.url }}" alt="{{ instance.title }} image" />
  </div>
  <div class="post-detail__content">
    {{ object.content | safe }}
  </div>
  <div>
    <p>
      <a href="{% url 'blog:post_like_toggle' slug=object.slug pk=object.pk %}">
        <i class="fas fa-thumbs-up"></i>{{ object.get_num_likes }}
      </a>
      <a href="{% url 'blog:post_dislike_toggle' slug=object.slug pk=object.pk %}">
        <i class="fas fa-thumbs-up" style="transform: rotate(180deg);"></i>{{ object.get_num_dislikes }}
      </a>
    </p>
  </div>
  <div>
    <form method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Save Comment</button>
    </form>
  </div>
  <div>
    {% for comment in object.comments.all %}
      <div>
        <h4>{{ comment.author }}</h4>
        <p>{{ comment.content }}</p>
        <p>      
          <a href="{% url 'blog:comment_like_toggle' slug=object.slug pk=object.pk comment_pk=comment.pk %}">
            <i class="fas fa-thumbs-up"></i>{{ comment.get_num_likes }}
          </a>
          <a href="{% url 'blog:comment_dislike_toggle' slug=object.slug pk=object.pk comment_pk=comment.pk %}">
            <i class="fas fa-thumbs-up" style="transform: rotate(180deg);"></i>{{ comment.get_num_dislikes }}
          </a>
        </p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block script %}
  <script src="{% static 'blog/js/main.js' %}"></script>
{% endblock script %}