.post-item{
  padding: 1em;
  width: 35vw;
  border-radius: $box-border-radius;
  box-shadow: 0.05rem 0.05rem 0.2rem 0 rgba(0, 0, 0, 0.6);
  background: $container-color;

  &__author{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    .author-img-container{
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
    }

    .author-img{
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    .author-info{
      margin-left: 1em;
    }
  }

  &__thumbnail{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 8rem;

    img{
      width: 100%;
      position: absolute;
    }
  }

  &__title{
    padding: 0.5em 0;
  }
}

@import '_blog-responsive'