.container-blog{
  width: 80vw;
  // border: 1px solid red;
}

.add-post{
  // border: 1px solid red;
  text-align: right;
  padding-bottom: 1em;
}

.add-link{
  display: inline-block;
  // border: 1px solid lightgrey;
  padding: 0.5em 1em;
  border-radius: $box-border-radius;
  background: $primary-background;
  color: $secondary-color;
}

.posts-container{
  display: grid;
  grid-template-columns: 36vw 36vw;
  // grid-template-rows: 100%;
  justify-content: center;
  grid-gap: 2em;
}

.post-item{
  padding: 1.5em 1em;
  // width: 35vw;
  border-radius: $box-border-radius;
  box-shadow: 0.03rem 0.05rem 0.2rem 0 rgba(0, 0, 0, 0.6);
  background: $container-color;

  &__author{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    .author-img-container{
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
    }

    .author-img{
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    .author-info{
      margin-left: 1em;
    }

    span{
      font-weight: 500;
    }
  }

  &__thumbnail{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 8rem;

    img{
      width: 100%;
      position: absolute;
      object-fit: cover;
    }
  }

  &__title{
    // border: 1px solid red;
    padding: 1em 0 0.5em 0;
  }

  &__category{
    margin-bottom: 0.5em;
  }
}

.post-detail{
  width: 50vw;
  // border: 1px solid black;

  &__title{
    // border: 1px solid black;
    margin-bottom: 1em;
  }
  
  &__thumbnail{
    // border: 2px solid black;
    margin: 1em 0;
    // padding: 1em 0;
    // max-height: 35rem;
    display: flex;
    // align-content: center;
    justify-content: center;
  }

  .like-toggler,
  .dislike-toggler{
    display: inline-block;
    // border: 1px solid red;
    padding: 0.4em 0.5em 0.4em 0;

    i{
      color: grey;
      pointer-events: none;
    }

    span{
      color: black;
      pointer-events: none;
    }
  }

  .dislike-toggler{
    i{
      transform: rotate(180deg);
    }
  }

  .selected{
    i{
      // color: #1132AE;
      color: #3B5998;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  height: 2.7rem;
  margin: auto;
  /*width: 30%;*/
}

.pagination a{
  text-decoration: none;
}

.pagination-action{
  display: flex;
  color: #447e9b;
  font-size: 1.25em;
  margin-left: 1em;
  align-items: center;
}

.pagination-action:hover {
  color: #9eebcf;
}

.pagination-number {
  background: lightgrey;
  padding: 0.5em 0.8em;
  border-radius: 0.65rem;
  margin-left: 1em;
  /*background-color: #9eebcf;*/
  /*color: #9eebcf;*/
  /*margin: 0.5em 0.01em 0em;*/
}

.pagination-number:hover, .pagination-current {
  background-color: #0d5aa7;
  color: antiquewhite;
  /*background: #9eebcf;*/
  /*color: white;*/
}

.logs-length{
  padding: 0.5rem;
  text-align: center;
  color: white;
}

.logs-length p{
  padding: 0.2rem 0 0.2rem 1.5rem;
  font: 1.2rem "Calibri Light";
}

@import '_blog-responsive'