.container-blog{
  width: 80vw;
  // border: 1px solid red;
  display: grid;
  grid-template-columns: 36vw 36vw;
  // grid-template-rows: 100%;
  justify-content: center;
  grid-gap: 2em;
}

.post-item{
  padding: 1.5em 1em;
  // width: 35vw;
  border-radius: $box-border-radius;
  box-shadow: 0.03rem 0.05rem 0.2rem 0 rgba(0, 0, 0, 0.6);
  background: $container-color;

  &__author{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    .author-img-container{
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
    }

    .author-img{
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    .author-info{
      margin-left: 1em;
    }

    span{
      font-weight: 500;
    }
  }

  &__thumbnail{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 8rem;

    img{
      width: 100%;
      position: absolute;
      object-fit: cover;
    }
  }

  &__title{
    // border: 1px solid red;
    padding: 1em 0 0.5em 0;
  }

  &__category{
    margin-bottom: 0.5em;
  }
}

.post-detail{
  width: 50vw;
  // border: 1px solid black;

  &__title{
    margin-bottom: 1em;
  }
  
  &__thumbnail{
    // border: 1px solid lightgrey;
    padding: 2em 0;
    margin: 1.5em 0;
    // max-height: 30rem;
    display: flex;
    // align-content: center;
    justify-content: center;
    background: #f5f5f5;

    img{
      // width: 100%;

    }
  }
}

@import '_blog-responsive'