*,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $primary-font-stack;
}

:root{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus{
  outline-offset: 2px;
}

a{
  text-decoration: none;
}

input,
button{
  font-family: inherit;
}

.page-wrapper{
  position: relative;
  min-height: 100vh;
  background: $secondary-color;
}

.page-header{
	// border: 1px solid blue;
	display: flex;
	align-items: center;
  justify-content: space-around;
  padding: 0.4em;
  background: $primary-background;

  a{
    color: $secondary-color;
  }
}

.nav-bar{
	// border: 1px solid red;
	width: 40vw;
  text-align: center;
  
  li{
    // border: 1px solid black;
    display: inline-block;
    list-style: none;
    padding: 0.5em;
    margin: 0 0.5em;
  }
}

.main-content{
  position: relative;
  // border: 1px solid green;
  @include default-flex-styles;
  flex-direction: column;
  padding-top: 3em;
	padding-bottom: 7em; 
}

.message{
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid transparent;
  padding: 0.6em 0;
  line-height: 1.3;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.7);

  &-container{
    padding-bottom: 3em;
  }
  
  &-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &-info{
    color: #31708f;
    background: #d9edf7;
    border-color: #bce8f1;
  }

  p{
    font-weight: 500;
    font-size: 106%;
    width: 94%;
    padding-left: 4%;
  }

  .close{
    cursor: pointer;
    font-size: 1.7rem;
    width: 6%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px){
  .message{
    p{
      font-size: 101%;
    }
  }
}

.page-footer{
  // border: 1px solid red;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  @include default-flex-styles;
  background: $primary-background;
  color: $secondary-color;
}

.hide{
  display: none;
}