*,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $primary-font-stack;
}

:root{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus{
  outline-offset: 2px;
}

a{
  text-decoration: none;
}

input,
button{
  font-family: inherit;
}

.page-wrapper{
  position: relative;
  min-height: 100vh;
  background: $secondary-color;
  overflow: hidden;
}

.page-header{
	// border: 1px solid blue;
	display: flex;
	align-items: center;
  justify-content: space-around;
  padding: 0.75em 0;
  background: $primary-background;
  color: $secondary-color;

  h1{
    a{
      display: block;
      // border: 1px solid red;
      font-size: 90%;
      color: inherit;
    }
  }
}

.nav-bar{
	// border: 1px solid red;
	width: 40vw;
  text-align: center;

  // &__items{
  //   border: 1px solid red;
  // }
  
  li{
    // border: 1px solid black;
    display: inline-block;
    list-style: none;
    padding: 0.5em;
    margin: 0 0.5em;

    a{
      color: inherit;
    }
  }

  // &__hamburger{
    // border: 2px solid red;
  // }
}

@media only screen and (max-width: 768px){
  .page-header{
    padding: 0.6em 0;

    h1{
      a{
        font-size: 78%;
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .page-header{
    position: relative;
  }

  .nav-bar{
    // border: 1px solid green;
    display: flex;
    align-items: center;

    &__items{
      display: none;
    }

    &__hamburger{
      position: absolute;
      right: 5%;
      // border: 1px solid black;

      div{
        // border: 1px solid blue;
        height: 2px;
        width: 1.7rem;
        border-radius: 0.3rem;
        background: $secondary-color;
        transition: transform 0.3s ease-in;
      }

      .block-1,
      .block-2{
        margin-bottom: 6px;
      }
    }

    li{
      display: block;
      margin: 2em 0;
      animation: menu-enter 0.6s ease-in;
    }
  }

  .responsive-menu{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    width: 55vw;
    min-height: 100vh; 
    display: block;
    background: $primary-background;
    animation: menu-enter 0.3s ease-in;
    box-shadow: -0.05rem 0 0.1rem 0 rgba(0, 0, 0, 0.7);

    + .nav-bar__hamburger{

      >  .block-1{
        transform-origin: 15% 0%;
        transform: rotate(45deg);
      }

      > .block-2{
        transform: translateX(300%);
      }

      > .block-3{
        transform-origin: 0% 0%;
        transform: rotate(-45deg);
      }
    }
  }

  @keyframes menu-enter{
    from{
      transform: translateX(100%);
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.main-content{
  position: relative;
  // border: 1px solid green;
  @include default-flex-styles;
  flex-direction: column;
  padding-top: 3em;
	padding-bottom: 7em; 
}

.message{
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid transparent;
  padding: 0.6em 0;
  line-height: 1.3;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.7);

  &-container{
    padding-bottom: 3em;
  }
  
  &-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &-info{
    color: #31708f;
    background: #d9edf7;
    border-color: #bce8f1;
  }

  p{
    font-weight: 500;
    font-size: 106%;
    width: 94%;
    padding-left: 4%;
  }

  .close{
    cursor: pointer;
    font-size: 1.7rem;
    width: 6%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px){
  .message{
    p{
      font-size: 101%;
    }
  }
}

.page-footer{
  // border: 1px solid red;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  @include default-flex-styles;
  background: $primary-background;
  color: $secondary-color;
}

@media only screen and (max-width: 600px){
  .page-footer{
    height: 3.85rem;
    font-size: 95%;
  }
}

.hide{
  display: none;
}

.scroll-lock{
  position: fixed;
  width: 100%;
}