$primary-font-stack: 'Roboto', sans-serif;
$primary-background: #5c3d8a;
$primary-color: #563d7c;
$secondary-color: #fafafa;
$container-color: #fff;
$box-border-radius: 0.35rem;
$alt-border-radius: 0.2rem;
$box-height: 2.95rem;

@mixin default-flex-styles{
  display: flex;
  justify-content: center;
  align-items: center;
}