$primary-font-stack: 'Roboto', sans-serif;
// $primary-background: #5c3d8a;
$primary-background: #5625a0;
// $primary-color: #563d7c;
$primary-color: #6c31c4;
$pry-shadow-color: rgba(0, 0, 0, 0.6);
$secondary-color: #fafafa;
$container-color: #fff;
// $alternate-color: #fafafa;
$box-border-radius: 0.35rem;
$alt-border-radius: 0.2rem;
$box-height: 2.95rem;
$input-box-shadow: 0 0 0.35rem 0 rgba(19, 83, 134, 0.7);

@mixin default-flex-styles{
  display: flex;
  justify-content: center;
  align-items: center;
}