$primary-font-stack: 'Roboto', sans-serif;

*,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $primary-font-stack;
}

:root{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

:focus{
  outline-offset: 2px;
}

a{
  text-decoration: none;
}

input,
button{
  font-family: inherit;
}