{% extends "blog/base.html" %}

{% load static %}

{% block title %}{{ object.title }} &mdash; Preview{% endblock title %}

{% block content %}
<div class="post-detail">
  <div class="post-detail__title">
    <h1>{{ object.title }} (Draft Preview)</h1>
    <a href="#"><i class="fas fa-tags"></i> {{ object.category }}</a> 
  </div>
  <div>
    <div>
      <form method="POST" action="{% url 'userprofiles:draft_publish' slug=object.slug pk=object.pk %}">
        {% csrf_token %}
        <button type="submit">Publish Draft</button>
      </form>
    </div>
    <div>
      <a href="{% url 'userprofiles:draft_update' slug=object.slug pk=object.pk %}">Update Draft</a>
    </div>
    <div>
      <form method="POST" action="{% url 'userprofiles:draft_delete' slug=object.slug pk=object.pk %}">
        {% csrf_token %}
        <button type="submit">Delete Draft</button>
      </form>
    </div>
  </div>
  <div class="post-detail__thumbnail">
    <img src="{{ object.thumbnail.url }}" alt="{{ instance.title }} image" />
  </div>
  <div class="post-detail__content">
    {{ object.content | safe }}
  </div>
</div>
{% endblock content %}