{% extends 'blog/base.html' %}

{% load static %}

{% block title %} Profile {% endblock title %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="message message-{{ message.tags }}">{{ message }}</div>
      <div class="dummy-space"></div>
    {% endfor %}
  {% endif %}
  <div class="container-acc pfl-col">
    <div class="pfl-col__header">
      <div class="pfl-col__img-container">
        <img src="{{ request.user.profile.image.url }}" alt="profile image" class="pfl-col__img" />
      </div>
      <div class="pfl-col__user">
        <p class="username">{{ request.user }}</p>
        <p class="email">{{ request.user.email }}</p>
      </div>
    </div>
    <div class="pfl-col__info">
      <div class="pfl-col__info-heading">
        <p>Profile Information</p>
      </div>
      <hr />
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in user_form %}
          <div class="form-row">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
        {% for field in profile_form %}
          <div class="form-row">
            {{ field.label_tag }}
            {{ field }}
          </div>
      {% endfor %}
        <div class="form-row">
          <button type="submit" class="submit-button">Update Profile</button>
        </div>
      </form>
    </div>
    <div class="pfl-col__activity">
      <div class="pfl-col__info-heading">
        <p>Activity Information</p>
      </div>
      <hr />
      <div class="form-row">
        <span>Drafted Posts:</span> <a href="#">{{ request.user.posts.drafted.count }} Post(s)</a>
      </div>
      <div class="form-row">
        Published Posts: <a href="#">{{ request.user.posts.published.count }} Post(s)</a>
      </div>
      <div class="form-row">
        Liked Posts: <a href="#">{{ request.user.post_likes.count }} Post(s)</a>
      </div>
    </div>
  </div>
{% endblock content %}