{% extends 'blog/base.html' %}

{% load static %}

{% block title %} Profile {% endblock title %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="message message-{{ message.tags }}">{{ message }}</div>
      <div class="dummy-space"></div>
    {% endfor %}
  {% endif %}
  <div class="container-acc pfl-col">
    <div class="pfl-col__header">
      <div class="pfl-col__img-container">
        <img src="{{ request.user.profile.image.url }}" alt="profile image" class="pfl-col__img" />
      </div>
      <div class="pfl-col__user">
        <p class="username">{{ request.user }}</p>
        <p class="email">{{ request.user.email }}</p>
        <a href="{% url 'userprofiles:profile_edit' %}">Edit Profile</a>
      </div>
    </div>
    <div class="pfl-col__info">
      <div class="pfl-col__info-heading">
        <p>Activity Information</p>
      </div>
      <hr />
      <div class="form-row">
        <span>Drafted Posts:</span>
        <a href="{% url 'userprofiles:drafted_posts' %}">{{ num_drafted }} Post{{ num_drafted|pluralize }}</a>
      </div>
      <div class="form-row">
        Published Posts: 
        <a href="{% url 'blog:user_posts' user=request.user.url_name %}">
          {{ num_published }} Post{{ num_published|pluralize }}
        </a>
      </div>
      <div class="form-row">
        Liked Posts: <a href="{% url 'userprofiles:liked_posts' %}">{{ num_liked }} Post{{ num_liked|pluralize }}</a>
      </div>
      <div class="form-row">
        Disliked Posts: <a href="{% url 'userprofiles:disliked_posts' %}">{{ num_disliked }} Post{{ num_disliked|pluralize }}</a>
      </div>
    </div>
  </div>
{% endblock content %}