{% extends 'blog/base.html' %}

{% load static %}

{% block title %} Profile Edit {% endblock title %}

{% block content %}
  <div class="container-acc pfl-col">
    <div class="pfl-col__header">
      <h2>Edit Your Profile</h2>
    </div>
    <div class="pfl-col__info">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in user_form %}
          <div class="form-row">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
        {% for field in profile_form %}
          <div class="form-row">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
        <div class="form-row">
          <button type="submit" class="submit-button">Update Profile</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}